.img {
  background:  url("/drivesasa/img/hakon-sataoen-XFiY4FZj8ZE-unsplash.png");
  height: 1100px;
  .container-fluid{
    background-image: linear-gradient(to bottom, rgba(8, 7, 7, 0.8), #f7efeffa);
   }
}
.navbar{
  font-size: 18px;
 font-weight: 500;
}
.bg-img {
  background: url("/drivesasa/img/Rectangle.png");
height: 923px;
width: 1920px;
}
#cards {
  height: 240px;
}

.text-bg-light .person {
  font-size: 10px;
}
.auto {
  font-size: 13px;
}
.image {
  background: url("/drivesasa/img/783e41c4c6c2559729f5e50cfd738d93.png");
  height: 700px;
}
.text{
  font-size: 6px;
}

.bg-img1{
  background: url("/drivesasa/img/8e5554a907f8854386174962cba02cbf.png");
}
.paragraph{
  font-size: 14px;
}

