.img {
  background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(74, 73, 73, 0.6)),
    url("/drivesasa/img/hakon-sataoen-XFiY4FZj8ZE-unsplash\ 1\ \(1\).jpg");
  height: 1100px;
}
.driversasa {
  font-family: jost;
}
.bg-img {
  background: url("/drivesasa/img/Rectangle\ 2.png");
  height: 600px;
}
#headerDrivesasa {
  margin-bottom: 240px;
}
.text-bg-light .person {
  font-size: 10px;
}
.auto {
  font-size: 13px;
}
.image {
  background: url("/drivesasa/img/783e41c4c6c2559729f5e50cfd738d93.png");
  height: 700px;
}
.card-text{
  font-size: 10px;
}
.text{
  font-size: 6px;
}
.card-title{
  font-size: 15px;
}
.paragraph{
  font-size: 13px;
}
