// scss-docs-start theme-colors-map
$primary-color:#082057;
$light-color:rgba(255, 255, 255, 1);
$danger-color:#BC2A2B;  
$secondary-color:#F9F9F9;
$success-color:#FFF;
$info-color:#0081FE;
// scss-docs-end theme-colors-map
   
 
   